/* Menu */
@media only screen and (max-width: 800px) {
    .menu-icon {
        display: block;
    }
    
    nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: #333;
        opacity: 90%;
        width: 100%;
        display: none;
        /* overflow: hidden;
        transition: max-height 0.5; */
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        color: #fff;
        padding: 16px 16px;
    }
}

/* Tablet & Mobile */
@media only screen and (max-width: 1023px) {
    .row {
        text-align: center;
    }

    [class*="footer-col"] {
        flex-basis: 100%;
    }
    
    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 10px;
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .col-4 {
        flex-basis: 50%;
    }

    .single-product .col-2 {
        flex-basis: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }

    .col-5 {
        flex-basis: 50%;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
}